*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/model/build/
/core/model/build/intermediates/javac/devDebug/classes/
/core/resource/build/
/core/resource/build/intermediates/javac/devDebug/classes/
/feature/artist/build/
/feature/artist/build/intermediates/javac/devDebug/classes/
/feature/search/build/
/feature/search/build/intermediates/javac/devDebug/classes/
/lib/network/build/
/lib/network/build/intermediates/javac/devDebug/classes/
/repository/network-api/build/
/repository/network-api/build/intermediates/javac/devDebug/classes/
/test-utils/unit-test/build/
/test-utils/unit-test/build/intermediates/javac/devDebug/classes/